{% extends "students/index.html" %}
{% block content %}
<section>
    <a href="{% url 'index' %}"><button>GO BACK</button>
</a>
    <ul>
        <li>{{ student.student_number }}</li>
    <li>{{ student.first_name }}</li>
    <li>{{ student.last_name }}</li>
    <li>{{ student.email }}</li>
    <li>{{ student.field_of_study }}</li>
    <li>{{ student.gpa }}</li>
    </ul>
    <a href="{% url 'update_student' student.id %}">Edit</a>
    <a href="{% url 'delete_student' student.id %}">delete</a>

</section>
{% endblock %}